
  @media screen and (max-width: 1050px) {
    .container {
        padding: 0!important;
      }
      section {
        padding-bottom: 32px;
        h2.section-title {
          text-transform: uppercase;
          padding: 32px 0;
          margin: 0;
          text-align: center;
          width: auto;
          span {
            color: $secondary-color;
          }
        }
      }
    .hero-banner {
      flex-direction: column;
      align-items: center;
      margin: 64px auto;
      .hero-content {
        width: 680px;
        text-align: center;
        align-items: center;
        h2 {
          margin: 32px auto;
        }
      }
      .hero-features {
        flex-direction: row;
        flex-wrap: wrap;
        max-width: auto;
        margin: 16px auto;
        justify-content: center;
        .hero-feature {
          display: flex;
          flex-direction: row;
          justify-content: center;
          margin: 16px 0;
          box-sizing: border-box;
          .hero-feature-content {
  
          }
          .hero-feature-img {
            width: 64px;
            display: flex;
            align-items: center;
            img {
              width: 100%;
              height: 100%;
              &:hover {
                transform: scale(1.1);
                transition: transform 0.5s;
              }
            }
          }
          .hero-feature-text {
            width: 230px;
            color: $light-color;
            margin: 8px 0;
            display: flex;
            align-items: center;
            p {
              font-size: 16px;
              margin: auto 16px;
            }
          }
        }
      }
    }
  }

  
  @media screen and (max-width: 989px) {
    .footer-grid {
      grid-template-columns: repeat(1, 1fr) !important;
      display: grid;
      gap: 100px;
    }
  }



  @media screen and (max-width: 800px) {
    body {
        width: 100vw !important;
        overflow-x: hidden;
        box-sizing: border-box;
      }
      .container {
        padding: 16px !important;
      }
    
      section {
        padding-bottom: 32px;
        h2.section-title {
          text-transform: uppercase;
          padding: 32px 0;
          margin: 0;
          text-align: center;
          span {
            color: $secondary-color;
          }
        }
      }
    section.navbar {
        display: flex;
        flex-direction: column !important;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        .lang-selector {
          margin: 8px 16px;
          select {
            font-size: 16px;
            padding: 8px;
          }
        }
        .cta-navbar {
          display: none!important;
        }
      }
     //////////////////////// Hero
     section.hero {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 16px auto !important;
        .hero-content {
          width: 320px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          h1 {
            color: $light-color;
            margin: 0;
            font-size: 32px;
          }
          h2 {
            color: $light-color;
            margin: 24px 0;
            font-size: 24px;
          }
          .cta-group {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center !important;
            .cta-primary {
              margin-right: 0 !important;
            }
          }
        }
        .hero-features {
          width: 100% !important;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center !important;
        }
        .hero-feature {
          display: flex;
          margin: 16px 0;
          box-sizing: border-box;
          .hero-feature-img {
            width: 40px !important;
            display: flex;
            align-items: center;
            img {
              width: 100%;
              &:hover {
                transform: scale(1.1);
                transition: transform 0.5s;
              }
            }
          }
          .hero-feature-text {
            width: 240px;
            color: $light-color;
            margin: 8px 0;
            display: flex;
            align-items: center;
            p {
              font-size: 16px !important;
              margin: auto 16px;
            }
          }
        }
      }
    //////////////////////////// Footer
    .footer-grid {
      display: grid;
      grid-template-columns: repeat(1, 1fr) !important;
      gap: 100px;
      & > div {
        text-align: center;
      }
      .footer-logo {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center !important;
        justify-content: center;
        padding: 0 !important;
        a {
          align-self: center;
        }
        .logo-row {
          flex-direction: column;
          margin-bottom: 16px;
          height: 200px;
          .logo-descriptor {
            margin: 0;
            display: flex;
          }
        }
      }
    }
    
  }


  @media screen and (max-width: 719px) {
    .navbar {
        .component {
          flex-direction: row;
        }
      }
    .hero-content {
      width: 100%!important;
    }
  }
  
  @media screen and (max-width: 716px) {
    .navbar {
        .component {
          flex-direction: column;
          align-items: center;
          .lang-selector {
            align-self: center;
          }
          .cta-navbar {
            display: none;
          }
        }
    }
  }


  
  @media screen and (max-width: 450px) {
    h2.section-title {
        font-size: 24px;
        padding: 16px 0;
      }
    .component {
        width: 100%;
      } 
      .container {
        padding: 0!important;
      }
      .hero {
        .hero-banner {
          margin: 0!important;
          box-sizing: border-box;
          width: 100%!important;
          .hero-content {
            padding: 32px;
            box-sizing: border-box;
          }
        }
        h1 {
          font-size: 32px;
          font-weight: 500;
        }
        h2 {
          font-size: 24px;
          margin: 24px auto!important;
          font-weight: 350;
        }
        .cta-group {
          flex-direction: column!important;
          width: 100%!important;
          .cta {
            margin: 8px auto;
          }
        }
    
        .hero-features {
          margin: 0 auto;
          width: 100%;
          .hero-feature {
            margin: 8px auto;
            width: 100%;
            justify-content: center;
            .hero-feature-content {
              width: fit-content;
              .hero-feature-text {
                width: fit-content;
              }
            }
            p {
              font-size: 12px!important;
              width: 146px;
            }
          }
        }
      }
    .advantage {
        min-width: 100%!important;
      }
    .footer-grid {
      margin: 0 !important;
      & > div {
        min-width: 100%;
        box-sizing: border-box;
      }
      .logo-row {
        display: flex;
        flex-wrap: wrap!important;
        .logo-descriptor {
          margin: 0!important;
          display: flex;
          justify-content: center;
          p {
            max-width: 100%;
          }
        }
      }
  
    }
  }

  