@import "./helpers/variables";

@import "./design/typography";
@import "./design/colors";

@import "./components/buttons";
@import "./components/modalOrderForm";
@import "./components/modalProductInfo";
@import "./components/modalThankyou";

@import "./components/navbar";
@import "./components/descriptor";
@import "./components/products";
@import "./components/advantages";
@import "./components/footer";
@import "./components/hero";
@import "./design/background";
@import "./components/company";

// Global

html {
  scroll-behavior: smooth;
  body {
    width: 100%;
    .container {
      box-sizing: border-box;
      max-width: 1280px;
      margin: auto;
      display: flex;
      flex-direction: column;
      // background-color: rgba($color: #ff033e, $alpha: 0.1);
      h2.section-title {
        text-transform: uppercase;
        padding: 32px 0;
        margin: 0;
        span {
          color: $secondary-color;
        }
      }
      .component {
        // border: 2px dashed grey !important;
      }
    }
    section {
      &.filled {
        background-color: $primary-color;
        color: $dark-color;
      }
    }
    .bg-yellow {
      background-color: $primary-color;
    }
    .text-green {
      color: $secondary-color;
    }
    .border {
      border: 1px solid $light-color;
    }
    .bordered > div {
      border: 1px solid $light-color;
    }
  }
}



@media screen and (min-width: 1313) {
}

@media screen and (max-width: 1312) {

}

@media screen and (max-width: 800px) {
  body {
    width: 100vw !important;
    overflow-x: hidden;
    box-sizing: border-box;
  }
  .container {
    padding: 16px !important;
  }

  section {
    padding-bottom: 32px;
    h2.section-title {
      text-transform: uppercase;
      padding: 32px 0;
      margin: 0;
      text-align: center;
      span {
        color: $secondary-color;
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  section {
    padding-bottom: 32px;
    h2.section-title {
      text-transform: uppercase;
      padding: 32px 0;
      margin: 0;
      text-align: center;
      width: auto;
      span {
        color: $secondary-color;
      }
    }
  }
}
