.products {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.product {
  width: 400px;
  text-decoration: none;
}

.product-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.product-img {
  width: 400px;
  height: 268px;
  border-radius: 15px;
}

.product-img img {
  height: 100%;
  width: 100%;
  border-radius: 15px;
}

.product-img:hover {
  overflow: hidden;
}

.product-img img:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: transform 2s;
}

a.product-cta {
  color: black;
  font-size: 24px;
  padding: 8px 16px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 16px;
  text-decoration: none;
  
}

a.product-cta:hover {
  color: #f2f2f2;
  background-color: #62a901;
  cursor: pointer;
  font-size: 24px;
  border: 1px solid #62a901;
  transform: scale(1.1);
  transition: transform 0.5s;
}
