.hero {
    height: 720px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.hero-content {
    width: calc(853px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-features {
    width: 427px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-content h1 {
    font-size: 48px;
    color: #f2f2f2;
    margin-bottom: 32px;
}

.hero-content p {
    font-size: 36px;
    color: #f2f2f2;
    margin-bottom: 32px;
}

.hero-content .cta-group .cta-primary {
    margin-right: 16px;
}

.hero-content .cta-group {
    display: flex;
}

.hero-feature {
    display: flex;
    flex-direction: row;
    height: 180px;
    box-sizing: border-box;
}

.hero-feature-img {
    flex: 1;
    margin: auto;
}

.hero-feature-img img {
    width: 100%;
}

.hero-feature-content {
    flex: 3;
    color: #f2f2f2;

    margin: auto 0 auto 16px;
}

.hero-feature-content p {
    font-size: 24px;
}

