.hero-feature {
    display: flex;
    flex-direction: row;
    height: 180px;
    box-sizing: border-box;
}

.hero-feature-img {
    flex: 1;
    margin: auto;
}

.hero-feature-img img {
    width: 100%;
}

.hero-feature-content {
    flex: 3;
    color: #f2f2f2;

    margin: auto 0 auto 16px;
}

.hero-feature-content p {
    font-size: 24px;
}