.footer-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 32px;
}
footer-logo h2 {
  text-transform: uppercase;
  color: #f2f2f2;
}

.footer-content {
    display: flex;
    flex-direction: row;
}

.footer-content h3 {
    color: #f2f2f2;
    text-align: center;
    font-size: 24px;
    margin: 16px;
}

.contacts {
    flex: 1;
}

.contacts p {
    color: #f2f2f2;
}

.newsletter {
    flex: 1;
}

.newsletter-box {
    padding: 0 128px;
}

.newsletter-box form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
