@media screen and (max-width: 989px) {
  .footer-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 100px;
  }
}

@media screen and (max-width: 800px) {

  body {
    width: 100vw!important;
    overflow-x: hidden;
    box-sizing: border-box;
  }
  .container {
    padding: 16px !important;
  }

  section {
    padding-bottom: 32px;
    h2.section-title {
      text-transform: uppercase;
      padding: 32px 0;
      margin: 0;
      text-align: center;
      span {
        color: $secondary-color;
      }
    }
  }
  ///////////////////////////////////////////////////////////////////////////////////////////////// Navbar
  section.navbar {
    display: flex;
    flex-direction: column !important;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    .lang-selector {
      margin: 8px 16px;
      select {
        font-size: 16px;
        padding: 8px;
      }
    }
    .cta-navbar {
      display: none!important;
    }
  }

  ///////////////////////////////////////////////////////////////////////////////////////////////////// Hero
  section.hero {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 16px auto!important;
    .hero-content {
      width: 320px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      h1 {
        color: $light-color;
        margin: 0;
        font-size: 32px;
      }
      h2 {
        color: $light-color;
        margin: 24px 0;
        font-size: 24px;
      }
      .cta-group {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center!important;
        .cta-primary {
          margin-right: 0!important;
        }
      }
    }
    .hero-features {
      width: 100%!important;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .hero-feature {
      display: flex;
      margin: 16px 0;
      box-sizing: border-box;
      .hero-feature-img {
        width: 40px!important;
        display: flex;
        align-items: center;
        img {
          width: 100%;
          &:hover {
            transform: scale(1.1);
            transition: transform 0.5s;
          }
        }
      }
      .hero-feature-content {
        width: 240px;
        color: $light-color;
        margin: 10px 0;
        display: flex;
        align-items: center;
        p {
          font-size: 16px!important;
          margin: auto 16px;
        }
      }
    }
  }
  ///////////////////////////////////////////////////////////////////////////////////////////////////// Footer
  .footer-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr) !important;
    gap: 100px;
    & > div {
      text-align: center;
    }
    .footer-logo {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center !important;
      justify-content: center;
      padding: 0 !important;
      a {
        align-self: center;
      }
      .logo-row {
        flex-direction: column;
        margin-bottom: 16px;
        height: 200px;
        .logo-descriptor {
          margin: 0;
          display: flex;
        }
      }
    }
  }
}
